<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/header.css'>
  </head>
  <body>
    <nav>
      <ul>
        <li class="menu_title"><%= title %></li>
        <li><a href="/">Inicio en ejs</a></li>
        <li><a href="/tienda">Tienda</a></li>
      </ul>
    </nav>