<%- include("header", {}) %>
    <div class="container">
        <h1>Página de inicio en ejs</h1>
        <p>Bienvenido a la tienda</p>
        <p>Aquí podrá encontrar los mejores muebles</p>
    </div>
<%- include("footer", {}) %>