<%- include("header", {}) %>
    <div class="container">
        <h1>Página de inicio (en ejs)</h1>
        <p style="font-size: 30px;">Bienvenido a la agenda <%= username_register || '' %> </p>
        <p style="font-size: 20px;">Aquí podrá encontrar los contactos que se tienen almacenados</p>
        <strong><p style="font-size: 20px;">Es necesario inciar sesión para poder usar la agenda</p></strong>
        <img src="/images/libreta.png" width="400px" height="400px">
    </div>
<%- include("footer", {}) %>