<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/header.css'>
  </head>
  <body>
    <nav>
      <ul id="menu">
        <li class="menu_title"><%= title %></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/">Inicio en ejs</a></li>
        <li><a href="/estatica/">estatica.html</a></LI>
        <li><a href="/contactos">Contactos</a></li>
        <li><a href="/annadir_contacto">Añadir Contacto</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>