<%- include("header", {}) %>
    <h1>Página para iniciar sesión</h1>
    <form action="/login" method="post">
        <ul>
            <li>
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required/>
            </li>
            <li>
                <label for="user_password">Contraseña:</label>
                <input type="password" id="age" name="user_password" required/>
            </li>
            <input type="submit">
        </ul>
    </form>
    <% if (mensaje) { %>
        <p><%= mensaje %></p>
    <% } %>
    <a href="/registrarse">
        <button>Registrarse</button>
    </a>

<%- include("footer", {}) %>