html, body { 
  height: 100%; 
  margin: 0; 
}

.contactos{
  max-height: 70vh;  
  overflow-y: auto; 
  padding-right: .5rem; 
}

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
}



li:last-child{
  border-right: none;
}

li a, .menu_title {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 150%;
}

li a:hover:not(.active), menu {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.right{
  float:right
}

.container{
  padding: 15px;
}

footer {
  background-color: #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;       /* centra horizontalmente */
  justify-content: center;   /* centra verticalmente */
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  gap: 10px;
  text-align: center;        /* centra texto dentro */
  z-index: 1;
}
